<div class="row">
  <div class="col d-flex justify-content-between align-items-center">
    <h4>Available Jobs ({{jobs.length}})</h4>
    {{#link-to "jobs.new"}}{{fa-icon "plus"}} Add New{{/link-to}}
  </div>
</div>
<div class="row h-100 overflow-auto">
  <div class="col">
    <div class="list-group d-flex">
      {{#each jobs as |job|}}       
        {{#link-to "jobs.show" job class="d-flex align-items-start list-group-item list-group-item-action"}}
          <div class="job-list__left-block">
            <button type="button" class="job-list__viewed-num btn btn-success">{{job.views}}</button>
          </div>
          <div class="job-list__right-block">
            <div class="job-list__title">{{job.title}}</div>
            <div class="job-list__desc text-truncate">{{job.description}}</div>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</div>
